<.flash_group flash={@flash} />
<div class="dark:bg-slate-800 max-w-4xl mx-auto p-6 bg-white rounded-b-lg shadow-lg">
  <h1 class="dark:text-white text-3xl font-bold text-center">Dollar Cost Averaging</h1>
  <p class="dark:text-slate-300 text-gray-600 text-center p-8 font-serif">
    An investment strategy where a fixed amount is regularly invested, leading to more shares
    being bought when prices are low and fewer when prices are high. This approach helps reduce the
    average cost per share over time, offering a straightforward way to grow your investments
    without the need for market timing. <br /><br /> For example:
  </p>
  <form phx-submit="calculate" class="space-y-4 mb-6">
    <div>
      <label for="tickers" class="dark:text-slate-300 block font-semibold mb-1">
        Tickers (comma separated):
      </label>
      <input
        type="text"
        name="tickers"
        value={Enum.join(@tickers, ",")}
        class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
    <div class="grid grid-cols-3 gap-4 items-end relative">
      <div>
        <label for="dca_low" class="dark:text-slate-300 block font-semibold mb-1">
          Buy more if below:
        </label>
        <input
          type="number"
          step="0.01"
          max="1"
          min="0"
          name="dca_low"
          value={@dca_low}
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div>
        <label for="dca_high" class="dark:text-slate-300 block font-semibold mb-1">
          Buy less if above:
        </label>
        <input
          type="number"
          step="0.01"
          max="1"
          min="0"
          name="dca_high"
          value={@dca_high}
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">
        Calculate
      </button>
      <%= if Enum.empty?(@results) do %>
        <div class="absolute -right-36 top-1/4 transform -translate-y-1/2 hidden lg:block drop-shadow-md">
          <span class="text-red-600 font-serif font-bold text-lg block mb-1">Press HERE!</span>
          <svg
            version="1.1"
            id="ios7_x5F_arrows_1_"
            xmlns="http://www.w3.org/2000/svg"
            x="0"
            y="0"
            viewBox="0 0 128 128"
            width="64"
            height="64"
            style="enable-background:new 0 0 128 128"
            xml:space="preserve"
            fill="#C72A2A"
          >
            <g id="_x32_8_1_">
              <path
                d="M78.1 0v6.2c22.4 0 40.5 18.2 40.5 40.6s-18.1 40.6-40.5 40.6H27.9l12.4-12.4-4.5-4.5L5.5 90.8l36 36.2 4.5-4.5-16.3-16.3h52.5c25.8 0 46.7-21 46.7-46.8S103.9 0 78.1 0z"
                id="icon_13_"
              />
            </g>
          </svg>
        </div>
      <% end %>
    </div>
  </form>
  <%= if Enum.any?(@results) do %>
    <table class="shadow w-full table-auto border-collapse text-left text-sm">
      <thead>
        <tr class="bg-gray-300">
          <th class="px-4 py-2"></th>
          <th class="px-4 py-2 text-center">Year High x <%= @dca_low %></th>
          <th></th>
          <th class="px-4 py-2 text-center">Day High</th>
          <th></th>
          <th class="px-4 py-2 text-center">Year High x <%= @dca_high %></th>
          <th class="px-4 py-2"></th>
        </tr>
      </thead>
      <tbody>
        <%= for result <- @results do %>
          <!-- placeholder span to force tailwind to generate those classes on dev -->
          <span class="bg-yellow-100 bg-green-100 bg-gray-100 hover:bg-yellow-200 hover:bg-green-200 hover:bg-gray-200">
          </span>
          <tr class={"hover:bg-" <> result.color <> "-200 bg-" <> result.color <> "-100"}>
            <td class="px-4 py-2"><%= result.ticker %></td>
            <td class="px-4 py-2 text-center">
              <%= if result.daily_high < result.threshold_normal do %>
                <%= result.threshold_aggressive %>
              <% end %>
            </td>
            <td class="px-4 py-2">
              <%= if result.daily_high < result.threshold_normal do %>
                <%= if result.threshold_aggressive < result.daily_high do %>
                  &lt;
                <% else %>
                  &gt;
                <% end %>
              <% end %>
            </td>
            <td class="px-4 py-2 text-center"><%= result.daily_high %></td>
            <td class="px-4 py-2">
              <%= if result.threshold_aggressive < result.daily_high do %>
                <%= if result.daily_high < result.threshold_normal do %>
                  &lt;
                <% else %>
                  &gt;
                <% end %>
              <% end %>
            </td>
            <td class="px-4 py-2 text-center">
              <%= if result.threshold_aggressive < result.daily_high do %>
                <%= result.threshold_normal %>
              <% end %>
            </td>
            <td class="px-4 py-2 text-xs">
              <%= result.strategy %>
              <%= case result.strategy do %>
                <% "Buy less" -> %>
                  (it's expensive)
                <% "Buy more" -> %>
                  (it's cheap)
                <% _ -> %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<footer class="mt-12 text-center text-gray-400 text-sm">
  <p>
    Made by
    <a href="https://alexandremcosta.github.io" class="text-blue-400 hover:underline">me</a>
    with help of
    <a href="https://openai.com/chatgpt" class="text-blue-400 hover:underline">ChatGPT</a>
    using public data from Yahoo Finance API
    <%= if Enum.any?(@results) do %>
      <br /> Sources:
      <%= for strategy <- @results do %>
        <a href={strategy.url} class="text-blue-400 hover:underline"><%= strategy.ticker %></a>
      <% end %>
    <% end %>
  </p>
</footer>
